* {
  outline: none;
}

.container {
  display: flex;
  width: 90vw;
  height: 90vh;
  background-color: rgba(17, 25, 40, 0.75);
  backdrop-filter: blur(19px) saturate(180%);
  color: #fff;
  border: 1px solid rgba(255, 255, 255, 0.125);
  border-radius: 12px;
}

.icon {
  height: 20px;
  width: 20px;
}

.leftSidePanel {
  flex: 1;
  display: flex;
  flex-direction: column;

  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    padding: 20px;

    .user {
      display: flex;
      flex-direction: row;
      gap: 20px;
      align-items: center;

      .userAvatar {
        height: 60px;
        border-radius: 50%;
        object-fit: cover;
      }
    }
  }

  .searchContainer {
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 20px;

    .searchBox {
      flex: 1;
      display: flex;
      align-items: center;
      gap: 10px;
      padding: 10px;
      background-color: rgba(17, 25, 40, 0.5);
      border-radius: 10px;

      img {
        height: 20px;
      }

      input {
        flex: 1;
        background-color: transparent;
        border: none;
        color: #fff;
        font-size: 16px;
      }
    }

    .buttonContainer {
      display: flex;
      width: 40px;
      height: 40px;

      button {
        width: 100px;
        box-shadow: none;
        border: none;
        padding: 10px;
        border-radius: 10px;
        background-color: rgba(17, 25, 40, 0.5);
        img {
          height: 20px;
        }
      }
    }
  }

  .chatItems {
    overflow: scroll;

    .chatItem {
      display: flex;
      align-items: center;
      gap: 20px;
      padding: 20px;
      border-bottom: 1px solid #dddddd35;

      .avatar {
        img {
          border-radius: 50%;
          height: 60px;
          object-fit: cover;
        }
      }

      .details {
        display: flex;
        flex-direction: column;
        gap: 10px;

        .title {
          font-size: 18px;
          font-weight: 500;
        }
      }
    }
  }
}

.chatContainer {
  flex: 2;
  display: flex;
  flex-direction: column;
  border-left: 1px solid #dddddd35;
  border-right: 1px solid #dddddd35;

  header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    padding: 20px;
    border-bottom: 1px solid #dddddd35;

    .info {
      display: flex;
      align-items: center;
      gap: 20px;

      img {
        height: 75px;
        object-fit: cover;
        border-radius: 50%;
      }

      .texts {
        display: flex;
        flex-direction: column;
        gap: 8px;

        .title {
          font-size: 22px;
          font-weight: 500;
        }

        .infoHelperText {
          font-size: 16px;
          font-weight: 400;
        }
      }
    }
  }

  .chatBox {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 20px;

    .messageBubble {
      display: flex;
      align-items: center;
      gap: 10px;
      margin-bottom: 10px;

      &:last-child {
        margin: 0;
      }

      .avatar {
        img {
          height: 36px;
          object-fit: cover;
          border-radius: 50%;
        }
      }

      .message {
        display: flex;
        justify-content: space-between;
        gap: 10px;
        padding: 10px;
        max-width: 70%;
        background-color: #1119284d;
        color: #fff;
        border-radius: 10px;

        p {
          font-size: 14px;
          flex: 1;
        }

        .time {
          display: flex;
          align-items: end;
          justify-content: flex-end;
          margin-bottom: -5px;

          span {
            font-size: 12px;
            color: #c2c2c2;
          }
        }
      }

      &.own {
        justify-content: flex-end;
        .message {
          background-color: #11367b4d;
        }
      }
    }
  }

  .chatInputBox {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    padding: 20px;
    border-top: 1px solid #dddddd35;
    margin-top: auto;

    .messageBox {
      flex: 1;
      display: flex;
      background-color: #11192880;
      padding: 16px;
      border-radius: 10px;

      input {
        flex: 1;
        border: none;
        background-color: transparent;
        color: #fff;
        font-size: 16px;
      }
    }

    .emojiButton {
      box-shadow: none;
      border: none;
      position: relative;

      .emojiPicker {
        position: absolute;
        bottom: 50px;
        right: 0px;
      }
    }

    .sendButton {
      button {
        background-color: #5183fe;
        color: #fff;
        border: none;
        box-shadow: none;
        padding: 10px 20px;
        border-radius: 5px;
        font-size: 16px;
        cursor: pointer;
      }
    }
  }
}

.chatInfoContainer {
  flex: 1;
}

.actionButtonsList {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 10px;

  li {
    button {
      box-shadow: none;
      border: none;
      background-color: transparent;
      cursor: pointer;
    }
  }
}

.iconButton {
  background-color: transparent;
  box-shadow: none;
  border: none;
  padding: 0;
  cursor: pointer;
}
