* {
  outline: none;
}

.container {
  display: flex;
  width: 90vw;
  height: 90vh;
  background-color: rgba(17, 25, 40, 0.75);
  backdrop-filter: blur(19px) saturate(180%);
  color: #fff;
  border: 1px solid rgba(255, 255, 255, 0.125);
  border-radius: 12px;
}

.leftSidePanel {
  flex: 1;
  display: flex;
  flex-direction: column;

  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    padding: 20px;

    .user {
      display: flex;
      flex-direction: row;
      gap: 20px;
      align-items: center;

      .userAvatar {
        height: 60px;
        border-radius: 50%;
        object-fit: cover;
      }
    }

    .actions {
      ul {
        margin: 0;
        padding: 0;
        display: flex;
        gap: 20px;

        li {
          list-style: none;
          padding: 0;
          margin: 0;

          img {
            height: 20px;
            cursor: pointer;
          }
        }
      }
    }
  }

  .searchContainer {
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 20px;

    .searchBox {
      flex: 1;
      display: flex;
      align-items: center;
      gap: 10px;
      padding: 10px;
      background-color: rgba(17, 25, 40, 0.5);
      border-radius: 10px;

      img {
        height: 20px;
      }

      input {
        flex: 1;
        background-color: transparent;
        border: none;
        color: #fff;
        font-size: 16px;
      }
    }

    .buttonContainer {
      display: flex;
      width: 40px;
      height: 40px;

      button {
        width: 100px;
        box-shadow: none;
        border: none;
        padding: 10px;
        border-radius: 10px;
        background-color: rgba(17, 25, 40, 0.5);
        img {
          height: 20px;
        }
      }
    }
  }

  .chatItems {
    overflow: scroll;

    .chatItem {
      display: flex;
      align-items: center;
      gap: 20px;
      padding: 20px;
      border-bottom: 1px solid #dddddd35;

      .avatar {
        img {
          border-radius: 50%;
          height: 60px;
          object-fit: cover;
        }
      }

      .details {
        display: flex;
        flex-direction: column;
        gap: 10px;

        .title {
          font-size: 18px;
          font-weight: 500;
        }
      }
    }
  }
}

.chatContainer {
  flex: 2;
}

.chatInfoContainer {
  flex: 1;
}
